<h2 class="article__header">
  {{{link-to content.title "language.content" content.language content class="article__header-link"}}}
  <small><a href={{githubLink}}>edit</a></small>
</h2>
{{{content.html}}}
