h1, .markdown-body {
  max-width: 980px;
  margin: 3em auto;
}

h1.header {
  a {
    color: inherit;
  }
}

.language-navigation {
  &__link {
    font-weight: bold;
    padding: 0 1em 0 0;
    font-size: 20px;

    &.active {
      text-decoration: underline;
    }
  }
}

.article {
  margin-bottom: 3em;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  a.article__header-link {
    color: inherit;
  }
}
