body {
  overflow: hidden;
  margin: 0 2em;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.header-nav {
  text-align: center;
  margin-bottom: 2em;
}

h1.header {
  a {
    color: inherit;
  }
}

.language-navigation {
  &__link {
    font-weight: bold;
    padding: 0 1em 0 0;
    font-size: 20px;

    &.active {
      text-decoration: underline;
    }
  }
}

.language-page {
  display: flex;

  &__index {
    flex: 1;
    font-size: 14px;
    overflow: auto;
    margin-left: auto;
    max-width: 350px;
    min-width: 100px;
    margin-right: 2em;

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__articles {
    flex: 1;
    flex-basis: 980px;
    max-width: 980px;
    margin-right: auto;
    overflow: auto;
  }
}

.article {
  margin-bottom: 3em;
  overflow: hidden;

  h2.article__header {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  a.article__header-link {
    color: inherit;
  }
}

// fix for syntax highlighting inside markdown styles
.markdown-body .highlight pre, .markdown-body pre {
  color: #f8f8f2;
  background: #272822;
}
