h1, .markdown-body {
  max-width: 980px;
  margin: 3em auto;
}

h1.header {
  a {
    color: inherit;
  }
}

.article {
  margin-bottom: 3em;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  a.article__header-link {
    color: inherit;
  }
}
