<div class="markdown-body">
  <h1 class="header">{{link-to "Teamtailor code styleguide" "application"}}</h1>

  <nav class="language-navigation">
    {{#each model as |language|}}
      {{link-to language.title "language" language class="language-navigation__link"}}
    {{/each}}
  </nav>

  {{liquid-outlet}}
</div>
