<div class="language-page">
  <div class="language-page__index">
    <ol>
      {{#each model.contents as |content|}}
        <li>{{link-to content.strippedTitle "language.content" content}}</li>
      {{/each}}
    </ol>
  </div>
  <div class="language-page__articles">
    {{liquid-outlet}}
  </div>
</div>
